<!DOCTYPE html>
<html>
<head>
  <title> <%= t(:germes) %> </title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag  App.faye_js_url %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
</head>
<script>
  var faye_server_url = "<%= App.faye_server_url %>";
</script>
<body>
<div class="container">
  <header class="navbar navbar-fixed-top navbar-inverse">
    <div class="navbar-inner">
      <div class="container">
        <div class="row">

          <div class="col-xs-4 col-md-4">
            <%= link_to t(:germes), root_path, id: "logo" %>
          </div>

          <div class="col-xs-8 col-md-8 col-lg-8">
              <nav>
                <div class="nav pull-right">

                  <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
                      <span class="glyphicon glyphicon-align-justify"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="dropdownMenu1">
                      <% if user_signed_in? %>
                        <li role="presentation" class="dropdown-header"> <%= t(:hello) %> <%= current_user.email %> </li>
                        <li role="presentation" class="divider"></li>
                        <li role="presentation"> <%= link_to t(:log_out), destroy_user_session_path, :method => :delete %> </li>
                      <% else %>
                        <li role="presentation"> <%= link_to t(:sign_in), new_user_session_path %> </li>
                        <li role="presentation"> <%= link_to t(:sign_up), new_user_registration_path %> </li>
                      <% end %>

                    </ul>
                  </div>

                </div>
                </br>
              </nav>
          </div>

        </div>
      </div>
    </div>
  </header>

  <div class="row" id="error_row">
    <div class="col-xs-12 col-md-12">
      <label id="error_label" class="bold"> </label>
    </div>
  </div>
    <%= yield %>
</div>
</body>
</html>